<div class="row text-light pt-5 mt-2 text-left">
  <div class="col text-center text-md-left">
    <h1 id="MainTitle">AHP METHOD</h1>
    <p class="lead font-italic" style="letter-spacing:2px; font-size:18px;"></p>
  </div>
</div>
<div class="row text-center text-md-left">
  <div class="col">
      <input type="button" value="Learn more" [routerLink]="['/learnMore']" class="btn btnLetter btn-light" />
  </div>
</div>
<div class="row pt-5 text-center mt-5 mr-4 float-right" style="border-radius:25px;">
  <div class="col">
    <!-- should redirect to "Login" -->
    <input type="button" value="New Project" [routerLink]="['/newProject']" class="btn btnLetter btn-success" />

    <!-- should redirect to "AllProjects" -->
    <input type="button" value="Open existing project" [routerLink]="['/allProjects']" class="btn btnLetter btn-outline-light  ml-2" />
  </div>
</div>


