
<div class="container mt-5 pl-4 pt-5">
    <div class="row text-light pt-5 mt-2 text-left">
        <div class="col">
            <h1 id="MainTitle">AHP METHOD</h1>
            <h3 class="font-italic">Final decision</h3>
        </div>
    </div>

    <div class="col">
       <div class="row">
            <table class="table w-50 m-auto text-center shadow table-light rounded table-borderless table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width: 16.66%">#</th>
                        <th scope="col">Alternative</th>
                        <th scope="col">Overall priority</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Audi</td>
                        <td>60%</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Opel</td>
                        <td>30%</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Ford</td>
                        <td>10%</td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>
