
<div class="container mt-5 pl-4 pt-5">
    <div class="row mr-auto">
        <div class="col">
            <h1 id="MainTitle">AHP METHOD</h1>
        </div>
    </div>
</div>
<div class="container pl-4 bg-light p-5">
    <div class="col">

        <h1 class="display-4">FINAL RESULT</h1>
    </div>
</div>
