body {
    background-image: url('bg.png');
    background-size: cover;
    background-attachment: fixed;
    min-width: 1000px; 
    width: auto !important; 
    width: 1000px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
}
