
/* 
BLUE: 03aad6
DARK-BLUE: 2477ab
GREEN: afc74b
ORANGE: dd5c46
*/

::selection {
    background: #116196;
}


.row {
    font-family: 'Karla', cursive;
    padding: 15px;
    font-size: 16px;
}

/*.row, .container, .col {
    border: 2px double white;
}*/

#MainTitle {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 90px;
}

#SubTitle {
    margin-top: 40px;
    font-family: 'Cabin', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.form-control, input[type=text] {
    background: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    border: none;
}

.btn {
    border-radius: 15px;
}

.btn-outline-light {
    border: 1px solid white;
}
