body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* 
BLUE: #03aad6
DARK-BLUE: #2477ab
GREEN: afc74b
ORANGE: dd5c46

font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
*/

::selection {
    background: #afc74b;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
}

body {
    background: linear-gradient(91deg, #03aad6, #116196);
    background-size: 400% 400%;
    -webkit-animation: background 12s ease infinite;
    -moz-animation: background 12s ease infinite;
    -o-animation: background 12s ease infinite;
    animation: background 12s ease infinite;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
}

@-webkit-keyframes background {
    0% {
        background-position: 100% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 100% 0%
    }
}

@-moz-keyframes background {
    0% {
        background-position: 100% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 100% 0%
    }
}

@-o-keyframes background {
    0% {
        background-position: 100% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 100% 0%
    }
}

@keyframes background {
    0% {
        background-position: 100% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 100% 0%
    }
}

::-webkit-input-placeholder {
    font-style: italic;
    font-size: 80%;
}

:-moz-placeholder {
    font-style: italic;
    font-size: 80%;
}

::-moz-placeholder {
    font-style: italic;
    font-size: 80%;
}

:-ms-input-placeholder {
    font-style: italic;
    font-size: 80%;
}

#MainTitle {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 120px;
    letter-spacing: 10px;
    height: 110%;
}

#SubTitle {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.row {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    padding: 15px;
    /* border: 2px solid white; */
}

.form-control {
    background: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    border: none;
}

.btn {
    border-radius: 15px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 9.25px 0;
}

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 12px;
        cursor: pointer;
        box-shadow: 5.5px 5.5px 4.4px rgba(0, 0, 0, 0.06), 0px 0px 5.5px rgba(13, 13, 13, 0.06);
        background: rgba(136, 204, 241, 0.87);
        border-radius: 0px;
        border: 8.1px solid rgba(164, 255, 255, 0);
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: 5.9px 5.9px 7.6px rgba(0, 0, 0, 0), 0px 0px 5.9px rgba(13, 13, 13, 0);
        border: 0px solid #ff0000;
        height: 36px;
        width: 23px;
        border-radius: 36px;
        background: #213ca8;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -17.35px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: rgba(145, 208, 242, 0.87);
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 17.5px;
        cursor: pointer;
        box-shadow: 5.5px 5.5px 4.4px rgba(0, 0, 0, 0.06), 0px 0px 5.5px rgba(13, 13, 13, 0.06);
        background: rgba(136, 204, 241, 0.87);
        border-radius: 0px;
        border: 8.1px solid rgba(164, 255, 255, 0);
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 5.9px 5.9px 7.6px rgba(0, 0, 0, 0), 0px 0px 5.9px rgba(13, 13, 13, 0);
        border: 0px solid #ff0000;
        height: 36px;
        width: 23px;
        border-radius: 36px;
        background: #213ca8;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 17.5px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: rgba(127, 200, 240, 0.87);
        border: 8.1px solid rgba(164, 255, 255, 0);
        border-radius: 0px;
        box-shadow: 5.5px 5.5px 4.4px rgba(0, 0, 0, 0.06), 0px 0px 5.5px rgba(13, 13, 13, 0.06);
    }

    input[type=range]::-ms-fill-upper {
        background: rgba(136, 204, 241, 0.87);
        border: 8.1px solid rgba(164, 255, 255, 0);
        border-radius: 0px;
        box-shadow: 5.5px 5.5px 4.4px rgba(0, 0, 0, 0.06), 0px 0px 5.5px rgba(13, 13, 13, 0.06);
    }

    input[type=range]::-ms-thumb {
        box-shadow: 5.9px 5.9px 7.6px rgba(0, 0, 0, 0), 0px 0px 5.9px rgba(13, 13, 13, 0);
        border: 0px solid #ff0000;
        height: 36px;
        width: 23px;
        border-radius: 36px;
        background: #213ca8;
        cursor: pointer;
        height: 17.5px;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: rgba(136, 204, 241, 0.87);
    }

    input[type=range]:focus::-ms-fill-upper {
        background: rgba(145, 208, 242, 0.87);
    }