<div class="row mr-auto">
    <div class="col">
        <h1 id="SubTitle">Edit alternative</h1>
        <h3 class="text-light font-italic">Input your preferences considering each criterion</h3>
    </div>
</div>
<div class="container-fluid justify-content-md-center text-dark text-center p-2 bg-white rounded shadow" id="mainContainer">
<h2 class="alert alert-info" role="alert">
                Criterion 1
            </h2>
            <form>
                <div class="row p-2">
                    <div class="col-3 text-center">Alternative 1</div>
                    <div class="col-6"><input id="slider1" type="range" min="-8" max="9" step="1"></div>
                    <div class="col-3 text-center">Alternative 2</div>
                </div>
                <div class="row p-2 text-center">
                    <div class="col">
                        <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    </div>
                </div>
              </form>
</div>
<!-- LOADER -->
<div class="loader" id="divLoader" style="display:none;"></div>

