
<h1 id="SubTitle">Add alternative</h1>

<!-- LOADER -->
<div class="loader" id="divLoader" style="display:none;"></div>
<div class="row p-2">
        <div class="col-6 col-md-4">
 </div>
        <div class="col-3 col-md-2 justify-content-around">
            <button type="button" class="btn btnPlus btn-success btn-sm" onclick="addAlternative()"><i class="fas fa-plus-circle pt-1 fa-lg"></i></button>
            <button type="button" class="btn btnPlus btn-danger btn-sm" onclick="removeAlternative()"><i class="fas fa-minus-circle pt-1 fa-lg"></i></button>
        </div>
        <div class="col-3 float-left">
            <button type="submit" id="submitBtn" class="btn btnLetter btn-success">Submit</button>
        </div>
    </div>
    <div class="row p-2 pb-3">
        <div class="col-6 col-md-4" id="alternative">
 </div>
    </div>
