
@model AHP.Models.CriterionView

@{
    ViewBag.Title = "AddCriterion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-dark mt-5 text-center p-4">

    <h1 id="SubTitle">Add criterion</h1>

    @using (Html.BeginForm("AddCriterion", "Criterion"))
    {
<div class="row pt-4 justify-content-center">
    <div class="col-5 offset-2">
        <div class="form-group">
            @Html.TextBoxFor(m => m.CriteriaName, new { @class = "form-control", placeholder = "Criterion name", required = "required" })
        </div>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-outline-success mr-2" onclick="addCriterion()"><i class="fas fa-plus fa-lg"></i></button>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</div>
    <div class="row justify-content-md-center">
        <div class="col-5" id="criteria">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CriteriaName, new { @class = "form-control", placeholder = "Criterion name", required = "required" })
            </div>
        </div>
    </div>
    }
</div>

@section scripts {
    <script>
    function addCriterion() {
        let formGroup = document.createElement("div");
            formGroup.classList.add("form-group");
            formGroup.innerHTML = `@Html.TextBoxFor(m => m.CriteriaName, new { @class = "form-control", placeholder = "Criterion name", required = "required" })`
            $("#criteria").append(formGroup);
        }
    </script>
}