
@model AHP.Models.CriterionView

@{
    ViewBag.Title = "AddCriterion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bg-dark mt-5 text-center p-4">

    <h1 id="SubTitle">Add criterion</h1>

    @using (Html.BeginForm("AddNewCriterion", "Criterion", FormMethod.Post, new { id = "AddCriterionForm" }))
    {
<div class="row pt-4 justify-content-center">
    <div class="col-5 offset-2">
        <div class="form-group">
            @Html.TextBoxFor(m => m.CriteriaName, new { @class = "form-control", placeholder = "Criterion name", required = "required" })
        </div>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-outline-success mr-2" onclick="addCriterion()"><i class="fas fa-plus fa-lg"></i></button>
        <button type="submit" id="submitBtn" class="btn btn-success">Submit</button>
    </div>
</div>
    <div class="row justify-content-md-center">
        <div class="col-5" id="criteria">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CriteriaName, new { @class = "form-control", placeholder = "Criterion name", required = "required" })
            </div>
        </div>
    </div>
    }
</div>

@section scripts {
    <script>
    // Adding new criterions to form
    function addCriterion() {
         let formGroup = document.createElement("div");
         formGroup.classList.add("form-group");
         formGroup.innerHTML = `@Html.TextBoxFor(m => m.CriteriaName, new { @class = "form-control", placeholder = "Criterion name", required = "required" })`
         $("#criteria").append(formGroup);
    }

    $("#AddCriterionForm").on("submit", function () {
         event.preventDefault();
         var url = '@Url.Action("AddNewCriterion", "Criterion")';
         var data = [];

         // Find all input fields
         var text = $('#AddCriterionForm').find('input[name="CriteriaName"]');
                
         for (let t of text) {
              // Values of each input field
              // console.log(t.value);
             data.push({
                 CriteriaName: t.value,
                 ProjectId: 1
             })
         };

         console.log(JSON.stringify(data));

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: url,
            data: JSON.stringify(data),
            success: function (response) {
                console.log(response);
                window.location.href = '@Url.Action("EditCriteria", "Criterion")';
            },
            failure: function (response) {
                alert(response);
            }
        });    
    }); 

    </script>
}