
@model AHP.Models.Criterion
@{
    ViewBag.Title = "AddCriterion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5 pl-4 pt-5">
    <div class="row mr-auto">
        <div class="col">
            <h1 id="SubTitle">Add criterion</h1>
        </div>
    </div>
</div>
<div class="container pl-4">
    <div class="col">
        <form>
            <div class="row">
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="Criterion name">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Criterion name">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-light"><i class="fas fa-plus-circle"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col offset-6">
                    <button type="submit" class="btn btn-success">Submit</button>

                </div>
            </div>
        </form>
    </div>
</div>

