
@model AHP.Models.CriterionView
@{
    ViewBag.Title = "EditCriterion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 pl-4 pt-5">
    <div class="row mr-auto">
        <div class="col">
            <h1 id="SubTitle">Edit criteria</h1>
        </div>
    </div>
</div>
<div class="container justify-content-md-center text-center p-3 pt-5 bg-white">
    <form>
        <div class="row p-2">
            <div class="col-3 text-center">criteria 1</div>
            <div class="col-6"><input id="slider1" type="range" min="-8" max="9" step="1"></div>
            <div class="col-3 text-center">criteria 2</div>
        </div>
        <div class="row p-2">
            <div class="col-3 text-center">criteria 1</div>
            <div class="col-6"><input id="slider2" type="range" min="-8" max="9" step="1"></div>
            <div class="col-3 text-center">criteria 3</div>
        </div>
        <div class="row p-2">
            <div class="col-3 text-center">criteria 2</div>
            <div class="col-6"><input id="slider3" type="range" min="-8" max="9" step="1"></div>
            <div class="col-3 text-center">criteria 3</div>
        </div>
        <div class="row p-2 text-center">
            <div class="col">
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <script>
        $('input[type=range]').on("click", () => {
            console.log($('input[type=range]').val());
        });
    </script>
}
