
<div class="container text-light mt-5 pl-4 pt-5">
    <button class="btn btn-light" onclick="location.href=' @Url.Action("Index","Home")'"><i class="fas fa-arrow-left"></i> Back</button>
    <div class="row pt-5 mt-2 mr-auto">
        <div class="col">
            <h1 id="MainTitle">AHP METHOD</h1>
            <h3 class="font-italic">All projects</h3>
        </div>

    </div>

    <div class="row mr-auto">
        <div class="col-12">
            <table class="table table-sm table-borderless w-50 text-center m-auto">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Project name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                        <td>mdo</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="pagination-body pt-5">
        <ul class="pagination">
            <li>
                <a href="#">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </li>
        </ul>

    </div>
</div>