
    <div class="container bg-dark rounded mt-5 pl-4 pb-5 pt-5">
        <div class="row text-light">
            <div class="col text-center">
                <h1 id="MainTitle">AHP METHOD</h1>
            </div>
        </div>

        <div class="row pb-3 text-center">
            <div class="col pt-1">
                <!-- should redirect to "Login" -->
                <input type="button" value="New Project" onclick="location.href=' @Url.Action("Login","Home")'" class="btn btn-success" />

                <!-- should redirect to "AllProjects" -->
                <input type="button" value="Open existing project" onclick="location.href=' @Url.Action("AllProjects","Home")'" class="btn btn-outline-light" />
            </div>
        </div>
    </div>