
    <div class="row text-light pt-5 mt-2 text-left">
        <div class="col text-center text-md-left">
            <h1 class="ml3" id="MainTitle">AHP METHOD</h1>
            <p class="lead font-italic" style="letter-spacing:2px; font-size:18px;"></p>
        </div>
    </div>
        <div class="row text-center text-md-left">
            <div class="col">
                <input type="button" value="Learn more" class="btn btnLetter btn-light btn-learn" />
            </div>
        </div>
        <div class="row pt-5 text-center mt-5 mr-4 float-right" style="border-radius:25px;">
            <div class="col">
                <!-- should redirect to "Login" -->
                <input type="button" value="New Project" onclick="location.href='@Url.Action("Login","Home")'" class="btn btnLetter btn-success" />

                <!-- should redirect to "AllProjects" -->
                <input type="button" value="Open existing project" onclick="location.href=' @Url.Action("AllProjects","Home")'" class="btn btnLetter btn-outline-light  ml-2" />
            </div>
        </div>
    
@section scripts {
    <script>
        $(document).ready(function () {
            $(".btn-learn").on("click", function () {
                
                $.confirm({
                    title: 'How to use',
                    content:                        
                        "-  Pick a project or make a new one \n-  Set criteria & preferences \n-  Set alternatives & preferences".split('\n').join('<br>'),
                       
                                                               
                   
                    type: 'blue',
                    typeAnimated: true,
                    buttons: {
                        tryAgain: {
                            text: 'Ok',
                            btnClass: 'btn-blue',
                            action: function () {
                            }
                        }
                        
                    }
                });
            })
        });



        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml3');
        textWrapper.innerHTML = textWrapper.textContent.replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>");

    anime.timeline({ loop: false })
            .add({
                targets: '.ml3 .letter',
                opacity: [0, 1],
                easing: "easeInOutQuad",
                duration: 1200,
            })
                //.add({
            //    targets: '.hidden',
            //    opacity: '100',
            //    easing: 'easeInOutQuad',
            //    duration: 1200
            //})
    

  //  .add({
  //  targets: '.ml3',
  //  opacity: 0,
  //  duration: 1000,
  //  easing: "easeOutExpo",
  //  delay: 1000
  //});
    </script>
}
