<div class="container mt-5 pl-4 pt-5">
    <button class="btn btn-light" onclick="location.href=' @Url.Action("Index","Home")'"><i class="fas fa-arrow-left"></i> Back</button>

    <div class="row text-light pt-5 mt-2 text-left">
        <div class="col">
            <h1 id="MainTitle">AHP METHOD</h1>
            <h3 class="font-italic">How does it work?</h3>
        </div>
    </div>
    <div class="row text-light">
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-asterisk"></i></span>Pick a project</li>
            <li><span class="fa-li"><i class="fas fa-asterisk"></i></span>Set criteria & preferences</li>
            <li><span class="fa-li"><i class="fas fa-asterisk"></i></span>Set alternatives & preferences</li>
        </ul>

    </div>
</div>