
<div class="container mt-5 pl-4 pt-5">
    <div class="row mr-auto">
        <div class="col">
            <h1 id="MainTitle" class="p-4">AHP METHOD</h1>
        </div>
    </div>
</div>
<div class="container pl-4">
    <div class="col">
        <form method="post">
            <div class="row">
                <div class="col pt-1">
                    <input type="text" class="form-control" name="Username" placeholder="Username">
                </div>
                <div class="col pt-1">
                    <input type="text" class="form-control" name="ProjectName" placeholder="Project name">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-light"><i class="fas fa-check-circle fa-lg"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>