<!-- LOADER -->
<div class="loader" id="divLoader" style="display:none;"></div>
<h1 id="SubTitle">Add criteria</h1>
    <div class="row p-2">
        <div class="col-6 col-md-4">
        </div>
        <div class="col-3 col-md-2 justify-content-around">
            <button type="button" class="btn btnPlus btn-success btn-sm" onclick="addCriterion()"><i class="fas fa-plus-circle fa-lg pt-1"></i></button>
            <button type="button" class="btn btnPlus btn-danger btn-sm" onclick="removeCriterion()"><i class="fas fa-minus-circle fa-lg pt-1"></i></button>
        </div>
        <div class="col-3 float-left">
            <button type="submit" id="submitBtn" class="btn btnLetter btn-success">Submit</button>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-6 col-md-4 pb-2" id="criteria">
  </div>
    </div>
