<div class="loader" id="divLoader" style="display:none;"></div>
<h1 id="SubTitle">Add criteria</h1>
<p class="lead" style="font-style: italic; font-size: 17px;">(minimum 2 criteria, maximum 10 criteria)</p>

<form [formGroup]="addCriteriaForm" (ngSubmit)="onSubmit()">
    <div class="row p-2">
        <div class="col-6 col-lg-5">
            <div formArrayName="criteriaArray">
                <div *ngFor="let c of criteriaForms.controls; let i=index" [formGroupName]="i">
                    <div class="input-group mb-3">
                        <input type="text" required class="form-control" placeholder="Criterion name"
                            formControlName="criteriaName" autocomplete="off">
                        <div *ngIf="minLen()" class="input-group-append">
                            <button type="button" class="btn btnPlus btn-danger btn-sm" [disabled]="!minLen()"
                                (click)="deleteCriteria(i)"><i class="fas fa-minus-circle fa-lg pt-1"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 col-md-3 align-content-around">
            <button type="button" class="btn btnPlus btn-success btn-sm m-1"
             (click)="addCriteria()" [disabled]="maxLen()">
                <i class="fas fa-plus-circle fa-lg pt-1"></i></button>

            <button type="submit" class="btn btnLetter btn-success m-1"
                [disabled]="addCriteriaForm.invalid">Submit</button>
        </div>
    </div>
</form>