@model  AHP.Models.AlternativeView

@{
    ViewBag.Title = "EditAlternative";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 pl-4 pt-5">
    <div class="row mr-auto">
        <div class="col">
            <h1 id="SubTitle">Edit alternative</h1>
            <h3 class="text-light font-italic">Input your preferences considering each criterion</h3>
        </div>
    </div>
</div>
<div class="container justify-content-md-center text-center p-2 bg-white" id="mainContainer">
    @*<h2 class="alert alert-info" role="alert">
        Criterion 1
    </h2>
    <form>
        <div class="row p-2">
            <div class="col-3 text-center">Alternative 1</div>
            <div class="col-6"><input id="slider1" type="range" min="-8" max="9" step="1"></div>
            <div class="col-3 text-center">Alternative 2</div>
        </div>
        <div class="row p-2 text-center">
            <div class="col">
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </div>
        </div>
    </form>*@
</div>

@section scripts {
    <script>
        //$('input[type=range]').on("click", () => {
        //    let val = $('input[type=range]').val();
        //    if (val < 0) {
        //        val = 1/((-val) + 1);
        //    }
        //    console.log(val);
        //});

        // CREATING FORM ROW
        //  TODO: Get both from DB
        let Criteria = ["Price", "Color", "Size"];
        let Alternatives = ["First", "Second", "Third", "Forth"];


        $(document).ready(function () {
            let container = document.getElementById("mainContainer");
            let C = Criteria.length;
            let A = Alternatives.length;
            let idCount = 0;

            for (i = 0; i < C; i++) {
                let critTitle = document.createElement("h1");
                    critTitle.classList.add("alert", "alert-info");
                    critTitle.setAttribute("style", "font-weight:bold; text-transform: uppercase; letter-spacing: 2px;");
                    critTitle.setAttribute("role", "alert");
                    critTitle.innerHTML = Criteria[i];

                let form = document.createElement("form");
                    form.setAttribute("method", "post");
                    form.setAttribute("id", "EditAlternativeForm");
               
                container.appendChild(critTitle);

                for (j = 0; j < A; j++) {

                    for (k = j + 1; k < A; k++) {

                        let formRowDesc = document.createElement("div");
                            formRowDesc.classList.add("row", "pt-4");
                            formRowDesc.setAttribute("class", "text-center");
                        let desc = document.createElement("p");
                            desc.classList.add("lead");
                            desc.setAttribute("id", idCount * 2);
                            desc.setAttribute("style","font-size:15px; letter-spacing:1px; font-style: italic;")
                            desc.innerHTML = "Equally prefered";
                        formRowDesc.appendChild(desc);

                        let formRow = document.createElement("div");
                        formRow.classList.add("row", "pt-2");

                        let firstAlt = document.createElement("div");
                            firstAlt.classList.add("col-3", "text-center");
                            firstAlt.setAttribute("style", "font-size:20px; font-weight: bold;");
                            firstAlt.setAttribute("id", `first` + idCount);
                            firstAlt.innerHTML = Alternatives[j];
                        formRow.appendChild(firstAlt);

                        let slider = document.createElement("div");
                            slider.classList.add("col-6");

                        let sliderInput = document.createElement("input");
                            sliderInput.setAttribute("type", "range");
                            sliderInput.setAttribute("min", -8);
                            sliderInput.setAttribute("max", 8);
                            sliderInput.setAttribute("step", 1);
                            sliderInput.setAttribute("Value", 0);
                            sliderInput.setAttribute("id", idCount);
                            slider.appendChild(sliderInput);
                        formRow.appendChild(slider);

                        let secondAlt = document.createElement("div");
                            secondAlt.classList.add("col-3", "text-center");
                            secondAlt.setAttribute("style", "font-size:20px; font-weight: bold;");
                            secondAlt.setAttribute("id", `second` + idCount);
                            secondAlt.innerHTML = Alternatives[k];
                        formRow.appendChild(secondAlt);

                        form.append(formRowDesc);
                        form.append(formRow);

                        let line = document.createElement("hr");
                        form.append(line);
                        container.appendChild(form);
                        idCount++;
                    }
                }
                  
       
            }

           let btn = document.createElement("button");
               btn.classList.add("btn","btn-success","btn-lg","mt-3", "mb-5");
               btn.setAttribute("type", "submit");
               btn.innerHTML = "Submit";

            container.append(btn);   
         

            $('input[type=range]').on("click", () => {
                let id = parseInt(event.target.id);
                let descId = (id * 2).toString();
                let desc = document.getElementById(descId);

                let firstId = `first` + id;
                let first = document.getElementById(firstId).innerHTML;

                let secondId = `second` + id;
                let second = document.getElementById(secondId).innerHTML;

                switch(parseInt(event.target.value)) {
                    case -8:
                    case -7:
                        desc.innerHTML = first + ` extremely more important than ` + second;
                    break;
                    case -6:
                    case -5:
                        desc.innerHTML = first + ` very strongly more important than ` + second;
                    break;
                    case -4:
                    case -3:
                        desc.innerHTML = first + ` strongly more important than ` + second;
                    break;
                        case -2:
                        case -1:
                            desc.innerHTML = first + ` moderately more important than ` + second;
                        break;
                        case 0:
                            desc.innerHTML = first + ` equally prefered to ` + second;
                        break;
                        case 1:
                        case 2:
                            desc.innerHTML = second + ` moderately more important than ` + first;
                        break;
                        case 3:
                        case 4:
                            desc.innerHTML = second + ` strongly more important than ` + first;
                        break;
                        case 5:
                        case 6:
                            desc.innerHTML = second + ` very strongly more important than ` + first;
                        break;
                        case 7:
                        case 8:
                            desc.innerHTML = second + ` extremely more important than ` + first;
                        break;
                      default:
                        desc.innerHTML = "Equally prefered";
                    }

                });
        });
         // FORM SUBMIT
         $("#EditAlternativeForm").on("submit", function () {
             event.preventDefault();
             var url = '@Url.Action("EditAlternativePreference", "Alternative")';
             var data = [];

            // Find all input fields
             var input = $('#EditAlternativeForm').find('input[type=range]');
             let tempData = [];
             for (let t of input) {
                    // Values of each input field
                    let x = parseInt(t.value);
                    let y = (x > 0) ? (1 / (x + 1)) : (-x + 1);
                    tempData.push(y);
             }
            
            let C = Criteria.length;
            let A = Alternatives.length;
             let idCount = 0;
             for (i = 0; i < C; i++) {
                 // i for Criteria count
                 for (j = 1; j < A; j++) {
                     // j for First alternative count
                     for (k = j + 1; k < A; k++) {
                         // k for Second alternative count
                         data.push({
                             // stupac
                             Alternative1: j,
                             // redak
                             Alternative2: k,
                             // preference
                             Preference: tempData[idCount],
                             CriteriaId: 0
                         });
                         idCount++;
                     }
                 }
             }


         //console.log(JSON.stringify(tempData));

            $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: url,
            data: JSON.stringify(data),
            success: function (response) {
                console.log(response);
                window.location.href = '@Url.Action("FinalResult", "Result")'
            },
            failure: function (response) {
                alert(response);
            }
         });

        });

    </script>
}
