
<div class="container mt-5 pl-4 pt-5">
    <div class="row mr-auto">
        <div class="col">
            <h1 id="SubTitle">Edit alternative</h1>
        </div>
    </div>
</div>
<div class="container p-2 bg-white">
    <h2 class="alert alert-info" role="alert">
        Criterion 1
    </h2>
</div>
<form>
    <div class="container p-5 bg-white">
        <div class="col-3 text-center">Alternative 1</div>
        <div class="col-6"><input id="slider1" type="range" min="-8" max="9" step="1"></div>
        <div class="col-3 text-center">Alternative 2</div>
    </div>
    <div class="container p-5  bg-white">
        <div class="col-3 text-center">Alternative 1</div>
        <div class="col-6"><input id="slider2" type="range" min="-8" max="9" step="1"></div>
        <div class="col-3 text-center">Alternative 3</div>
    </div>
    <div class="container p-5  bg-white">
        <div class="col-3 text-center">Alternative 2</div>
        <div class="col-6"><input id="slider3" type="range" min="-8" max="9" step="1"></div>
        <div class="col-3 text-center">Criterion 3</div>
    </div>
    <div class="container p-5  bg-white">
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </div>
</form>
