
<button class="btn btnLetter btn-light" [routerLink]="['/allProjects']"><i class="fas fa-arrow-left"></i> Back</button>
<div class="row pt-5 mt-2">
    <div class="col text-md-left text-sm-center">
        <h1 id="MainTitle">AHP METHOD</h1>
        <h3 class="font-italic">All projects</h3>
    </div>
</div>

<div class="row mr-auto">
    <div class="col-12">
        <div class="row">
            <table class="table w-50 m-auto text-centershadow table-striped table-light rounded table-borderless table-hover">
                <thead class="thead-light rounded">
                    <tr class="font-weight-bold">
                        <th scope="col" style="width: 16.66%">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Project name</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody id="projectBody" class="m-auto"></tbody>
            </table>
        </div>
    </div>
</div>

<nav class="navbar navbar-light justify-content-center">

        <button class="btn btn-sm btn-outline-info m-1" type="button" id="first">First</button>
        <button class="btn btn-sm btn-outline-secondary m-1" type="button" id="prev">Prev</button>
        <button class="btn btn-sm btn-outline-primary m-1" type="button" id="currentPrev">0</button>
        <button class="btn btn-sm btn-outline-success m-1" type="button" id="current">0</button>
        <button class="btn btn-sm btn-outline-primary m-1" type="button" id="currentNext">0</button>
        <button class="btn btn-sm btn-outline-secondary m-1" type="button" id="next">Next</button>
        <button class="btn btn-sm btn-outline-info m-1" type="button" id="last">Last</button>

</nav>
