  <!-- LOADER -->
  <div class="loader" id="divLoader" style="display:none;"></div>
  
  <h1 id="SubTitle">Edit criteria</h1>
  <h3 class="text-light font-italic">Input your preferences</h3>
  
  <div class="container justify-content-md-center rounded shadow text-center text-dark p-2 pt-5 bg-white" id="formDiv">
  <div class="row p-2">
                  <div class="col-3 text-center">criteria 1</div>
                  <div class="col-6"><input id="slider1" type="range" min="-8" max="9" step="1"></div>
                  <div class="col-3 text-center">criteria 2</div>
              </div>
          <div id="EditCriterionForm"></div>
  </div>
  

  